.confirm-modal-yes {
  padding: 10px;
  width: 50px;
  background-color: #13900b;
  color: #eef2ff;
  border: none;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  &:active {
    border: none;
    outline: none;
    background-color: #ff4b00;
  }
  &:focus {
    border: none;
    outline: none;
  }
}

.confirm-modal-no {
  padding: 10px;
  width: 50px;
  background-color: #770200;
  color: #eef2ff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

  &:active {
    border: none;
    outline: none;
    background-color: #ff4b00;
  }
  &:focus {
    border: none;
    outline: none;
  }
}
